
.sidebar {
    &.sidebar-color {
        background: var(--#{$variable-prefix}primary);
        .navbar-brand svg{
            color:var(--bs-white);
        }
        .sidebar-header {
            border-bottom-color:  var(--#{$variable-prefix}primary-bg-subtle);
            .logo-title{
                color: tint-color($navbar-vertical-dark-bg, 90%);
            }
        }
        .nav-item {
            .nav-link {
                &:not(.active) {
                    color: var(--bs-white);
                }
            }
        }
        &.left-bordered{
            .sidebar-body{
                .nav-item {
                    .nav-link {
                        &.active {
                            color:var(--bs-white);
                        }
                    }
                }
                &:not(.sub-nav) {
                    .nav-item {
                        &:not(.static-item){
                            position: relative;
                            &::before{
                                background-color: var(--bs-gray-900);
                            }
                        }
                    }
                }
            }
        }
        &.sidebar-default {
            .nav-link {
                --shadow-dark-color: #{$white};
                &.active, &[aria-expanded=true] {
                    color: var(--#{$variable-prefix}primary);
                    background-color: rgb(14, 133, 14); // You can tweak this green or use a gradient
                    box-shadow: 0 10px 20px -10px rgba(var(--shadow-dark-color), 38%);
                    position: relative;  // Ensure the parent is positioned for the absolute element
                
                    // Add the golden vertical bar
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 5px;  // Adjust this width as needed
                        background-color:#D89837;  // Golden color

                    }
                
                    // Optionally, apply a shade of green or gradient for the background
                    background: white;  // Example gradient for a shade of green
                }
                &:hover {
                    &:not(.active):not([aria-expanded=true]){
                        color: $white;
                        background: rgba(var(--#{$variable-prefix}white-rgb),.1);
                    }
                }
            }
        }
        &.sidebar-base{
            .nav-item{
                &.static-item{
                    .default-icon{
                        color: var(--bs-white);
                    }
                }
            }
        }
    }
}
