# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# composer lock
composer.lock
xxxx.php


# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant

.phpintel
reports.txt

prev.json
prev.php
prev-user.php
RabbitMQ.md
omnibase.cfg

/storage
/.vscode


modules/admin/migrations/m240206_054743_settings.php
modules/auth/controllers/IssuesController.php
modules/auth/controllers/VerificationDetailController.php
modules/auth/controllers/StudentProfileController.php
modules/auth/migrations/m250614_074921_otp_verification.php
